Analisis de bajas

In [51]:
# !pip install phik
# libreria para hacer DEA
# !pip install sweetviz

In [52]:
import datetime
import IPython
import math
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import sweetviz as sv
import time
from matplotlib import pyplot
from numpy import mean
from numpy import std
from urllib.parse import urlparse
import pickle

In [53]:
df_original = pd.read_csv("datasets_dataset_2021_baja_2.csv")

In [54]:
df_original.shape

(7930, 159)

In [55]:
df_original.dtypes

numero_de_cliente            int64
foto_mes                     int64
active_quarter               int64
cliente_vip                  int64
internet                     int64
                            ...
Visa_mconsumototal         float64
Visa_cconsumos             float64
Visa_cadelantosefectivo    float64
Visa_mpagominimo           float64
clase_ternaria              object
Length: 159, dtype: object

In [56]:
df_original.head()

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
0,4572728,202011,1,0,0,56,274,-348.43,6001.98,200.19,...,5.0,0.0,-19574.32,0.0,5013.0,21451.54,6.0,0.0,1041.3,BAJA+2
1,4572841,202009,1,0,1,60,369,8004.91,139974.06,625.83,...,0.0,0.0,-66924.00,0.0,7651.0,92439.73,13.0,0.0,35100.0,BAJA+2
2,4573161,202011,1,0,0,61,276,1803.61,36752.94,1730.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BAJA+2
3,4576124,202005,1,0,1,59,249,1638.11,32489.55,2104.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BAJA+2
4,4579001,202004,0,0,0,53,311,-2428.58,9986.66,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BAJA+2

In [57]:
analize_report = sv.analyze(df_original)
analize_report.show_html('analize_todo_2.html', open_browser=False)

[Step 3/3] Generating associations graph     |          | [  0%]   00:00 -> (? left)/home/lucas/.local/lib/python3.9/site-packages/sweetviz/graph_associations.py:219: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  new_dataframe[feature] = pd.Series(dtype=float)
Done! Use 'show' commands to display/save.   |██████████| [100%]   00:27 -> (00:00 left)

Report analize_todo_2.html was generated.

In [58]:
df_original.sort_values(by=["foto_mes"]).loc[:,"foto_mes"]

5353    202001
5517    202001
5523    202001
1629    202001
1627    202001
         ...
4612    202011
4607    202011
4602    202011
4856    202011
7929    202011
Name: foto_mes, Length: 7930, dtype: int64

In [59]:
analize_report = sv.analyze(df_original[df_original.foto_mes==202010])
analize_report.show_html('analize_10_2.html', open_browser=False)

[Step 3/3] Generating associations graph     |          | [  0%]   00:00 -> (? left)/home/lucas/.local/lib/python3.9/site-packages/sweetviz/graph_associations.py:219: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  new_dataframe[feature] = pd.Series(dtype=float)
Done! Use 'show' commands to display/save.   |██████████| [100%]   00:31 -> (00:00 left)

Report analize_10_2.html was generated.